body {
    /* Радиусы */
    --radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
    --toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;

    /* Шрифт */
    --font-interface-theme: Inter;
	--font-text-theme: Inter;
	--font-monospace-theme: Source Code Pro;

    /* Цвета основных зон */
    --background-primary: #FFFFF0; /*Рабочая область, скролы*/
    --background-primary-alt: #F5F5D4; /*Блок кода; Пункты окна настроек*/
    --background-secondary: #F5DEB3; /*Сайдбары; контекст меню; скролы*/
    --background-modifier-hover: white; /*Выделеные иконки, hover #CD7F32*/
    /* --background-modifier-active-hover: red; */
    --background-modifier-border: #C5A059;
    --background-modifier-border-hover: #B5A642;
    --background-modifier-border-focus: #C5A059;

    --hr-color: black;

    /*Текст*/
    --caret-color: #0000FF;
    --text-normal: #0819b1;
    --text-muted: black;
    
    /* --file-line-width: 60%; */
    /* --tab-container-background: red; */
    --titlebar-background-focused: #F5DEB3;
    --titlebar-background: white; /*цвет плашки окна вне фокуса*/

    /*инпуты*/
    /* --background-modifier-form-field: #FFFFF0; */
    --background-modifier-form-field-hover: #FFFFF0;

    /*для класса .is-flashing*/
    --highlight-mix-blend-mode: multiply !important; /*При клике по ссылкам,
     заголовкам, чтобы текст не смешивался с фоном*/
}

/* скрыть декоративные закругления у активной вкладки */
.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

/* все иконки и графические элементы максимально острыми,
 прямоугольными и угловатыми */
svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

/* Контекстное меню */
.menu {
	padding: 0px;
}
.menu-item {
	padding: 4px;
}
.menu-separator {
	margin: 4px;
}

textarea,
.multi-select-container,
input.metadata-input-text,
input[type='date'],
input[type='datetime-local'],
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number']{
    background: #FFFFF0;
}